/* Global styles */
.resume-box {
    margin-left: 25%;
    margin-right: 25%;
    border: 2px solid black;
    border-radius: 0.75rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Anything less than this */
@media (max-width: 1300px) {
    .resume-box {
        margin-left: 5%;
        margin-right: 5%;
    }
}
