<div class="box flex justify-center items-center bg-gray-100">
  <div class="p-8 bg-white rounded shadow-md">
    <h2 class="text-2xl mb-4 font-extrabold">บ้าน</h2>
    <div class="mb-4 flex items-center">
      <p class="text-lg mr-2"><strong>อุณหภูมิ:</strong></p>
      <p class="text-3xl font-semibold text-blue-600">{{ measurements.temperature | number: '1.2' }} °C</p>
      <i class="fas fa-thermometer-half ml-2 text-blue-600 text-2xl"></i>
    </div>
    <div class="mb-4 flex items-center">
      <p class="text-lg mr-2"><strong>ความชื้น:</strong></p>
      <p class="text-3xl font-semibold text-green-600">{{ measurements.humidity | number: '1.2' }} %</p>
      <i class="fas fa-tint ml-2 text-green-600 text-2xl"></i>
    </div>
  </div>
</div>