<div class="min-h-full">
    <div class="resume-box p-4 border-0 border-slate-400">

        <section id="header" class="flex justify-between">
            <div>
                <h1 class="text-4xl font-bold mt-2">Sirawit Mahanin</h1>
                <h2 class="mt-2 text-lg">🇹🇭 Thai, {{myAge.years}} years {{myAge.months}} months {{myAge.days}} days
                    old.
                </h2>
                <p class="mt-2 text-lg">Sukhumvit 62, Bangkok 10260. sirawit.mn@gmail.com</p>
                <div class="flex justify-start gap-6 mt-2 text-base">
                    <div>
                        <i class="fab fa-linkedin" style="font-size: 20px;"></i>
                        <a class="underline ml-1"
                            href="https://www.linkedin.com/in/sirawit-wit-mahanin-b3a42614a/">LinkedIn</a>
                    </div>
                    <div>
                        <i class="fab fa-github" style="font-size: 20px;"></i>
                        <a class="underline ml-1" href="https://github.com/manooi">GitHub</a>
                    </div>
                </div>
            </div>
            <div class="hidden md:block">
                <img class="rounded-lg" style="width: 225px;" src="/assets/profile.jpg">
            </div>
        </section>

        <hr class="mt-5">

        <section id="introduction">
            <h2 class="text-xl text-center underline mt-4 font-bold mb-3">TL;DR</h2>
            <p>Full stack developer with extensive experience in web development, specializing in JavaScript,
                TypeScript, Angular,
                and .NET. Proficient in both frontend and backend technologies. Former civil engineer with a unique
                blend of technical and analytical skills. Known for mentoring junior
                developers and leading innovative projects. AWS Certified Cloud Practitioner and ITIL4 Foundation
                certified. Always
                ready to tackle new challenges.</p>
        </section>

        <hr class="mt-5">

        <section id="technical-skills">
            <h2 class="text-xl text-center underline mt-4 font-bold mb-3">Technical Skills</h2>

            <h3 class="font-bold">Frontend</h3>
            <p class="ml-9"></p>
            <ul class="list-disc ml-12">
                <li>Sound knowledge of JavaScript, TypeScript, rxjs, and Angular <i class="fa-brands fa-angular"></i>.
                </li>
                <li>Comfortable with UI libraries such as PrimeNg, Bootstrap, and MaterialUI.</li>
                <li>Experienced with Redux/Ngrx.
                    <span class="inline-block">
                        <svg width="50" height="20" xmlns="http://www.w3.org/2000/svg">
                            <rect width="20" height="20" fill="#FFFFFF" stroke="#000000" stroke-width="0" />
                            <text x="0" y="15" font-family="Arial" font-size="12" fill="red">
                                <animate attributeName="visibility" from="visible" to="hidden" dur="0.5s"
                                    repeatCount="indefinite" />
                                new
                            </text>
                        </svg>
                    </span>
                </li>
                <li>Learned Tailwind CSS, hate it.
                </li>
            </ul>

            <h3 class="font-bold mt-2">Backend</h3>
            <ul class="list-disc ml-12">
                <li>3 years of experience in .NET and 2 year in NestJS (nodejs). Proficient in code-first database
                    development
                    with EntityFramework and TypeORM.
                </li>
                <li>Familiar with MS SQL, Postgres, and MySQL. (I can write basic queries, such as joins and aggregates.
                    I can also create and execute stored procedures, as well as
                    design databases.)</li>
            </ul>

            <h3 class="font-bold mt-2">AI & Machine learning <i class="fa-solid fa-robot"></i></h3>
            <ul class="list-disc ml-12">
                <li>Trained, developed, and deployed various machine learning models.</li>
                <li>Linear and logistic regression, KNN, K-Means, Decision Tree, NN, SVM, PCA and more.</li>
                <li>Comfortable with library such as
                    scikit-learn, NumPy, pandas, matplotlib and more.</li>
                <li>
                    <a href="https://github.com/manooi/thaihouse-gen" class="underline text-blue-700">My final
                        project</a>
                    in 2021. It's a generative AI for generating images of Thai houses using PyTorch.
                </li>
                <li>TBH, I nearly lost it all ^ because it's not my current field of work.</li>
                <li>Generative AI Usage: Experience using Stable Diffusion for image generation and experimenting with Ollama for
                    local LLM inference. <span class="inline-block">
                        <svg width="50" height="20" xmlns="http://www.w3.org/2000/svg">
                            <rect width="20" height="20" fill="#FFFFFF" stroke="#000000" stroke-width="0" />
                            <text x="0" y="15" font-family="Arial" font-size="12" fill="red">
                                <animate attributeName="visibility" from="visible" to="hidden" dur="0.5s"
                                    repeatCount="indefinite" />
                                new
                            </text>
                        </svg>
                    </span>
                </li>
            </ul>


            <h3 class="font-bold mt-2">Cloud / Infra / ITSM</h3>
            <p>I'm a developer working in a cloud team where we typically have a cloud engineer
                responsible for setting up the
                infrastructures. However, I do have some exposure to various cloud providers.</p>
            <ul class="list-disc ml-12">
                <li><a class="underline text-blue-700"
                        href="https://www.credly.com/badges/36878598-d32a-4b59-a569-69f6cd0b1ae7">AWS Certified Cloud
                        Practitioner</a>, Azure and GCP.</li>
                <li>ITIL4 Foundation <a class="underline text-blue-700"
                        href="https://www.linkedin.com/in/sirawit-wit-mahanin-b3a42614a/">certificate.</a></li>
                <!-- <li>Able to set up a basic VM instance, install a web server, configure a firewall, and the like.</li> -->
                <li>Docker <i class="fa-brands fa-docker"></i>.</li>
            </ul>

            <!-- <h3 class="font-bold mt-2">Machine Learning, Image Analytics, and Deep Learning</h3>
            <app-accordian [class]="'mt-1'" [header]="'Click for more details'">
                <p><span class="underline">Disclaimer:</span> These are what I learned from my M.S., never used in
                    production work and i'm kind of forgetting it.</p>
                <ul class="list-disc ml-12">
                    <li>Trained, developed, and deployed various machine learning models.</li>
                    <ul class="list-disc ml-12">
                        <li>Linear and logistic regression, KNN, K-Means, Decision Tree, NN, SVM, and PCA.</li>
                        <li>Comfortable with library such as scikit-learn, NumPy, pandas, and matplotlib.</li>
                    </ul>
                    <li>Deep Learning / Image Analytics.</li>
                    <ul class="list-disc ml-12">
                        <li>Trained deep learning models such as CNN, RNN, and GANs.</li>
                        <li>Hands-on experience in PyTorch and TensorFlow.</li>
                        <li>Coconut thief detection project with object detector model.</li>
                    </ul>
                </ul>
            </app-accordian> -->

            <h3 class="font-bold mt-2">Others</h3>
            <ul class="list-disc ml-12">
                <li>Vim, Oh My ZSH and macOS user.</li>
                <li>Experienced with Git.</li>
            </ul>
        </section>

        <hr class="mt-5">

        <section id="professional-experience">
            <h2 class="text-xl text-center underline font-bold mt-4">Professional Experience</h2>

            <!-- Job3 -->
            <img class="h-7" src="/assets/itone-logo.png">
            <div class="flex justify-between">
                <h3 class="text-lg font-bold">ITOne Co., Ltd.</h3>
                <h3 class="text-base">Oct 2021 - Present ✅</h3>
            </div>

            <div>
                <ul>
                    <li class="mt-2">
                        <div class="flex justify-between">
                            <p class="mb-2 font-semibold italic inline ml-3">
                                Sr. Analyst
                            </p>
                            <p class="text-sm">
                                Dec 2023 - Present
                            </p>
                        </div>
                        <ul class="list-disc ml-12">
                            <p class="font-bold">As dev lead:-</p>
                            <li class="sm:ml-0 md:ml-8">Mentored junior developers, fostering a collaborative learning
                                environment and
                                enhancing team
                                productivity.</li>
                            <li class="sm:ml-0 md:ml-8">Demonstrated strong troubleshooting skills to identify root
                                causes
                                and implement
                                effective solutions.</li>
                            <li class="sm:ml-0 md:ml-8">Estimated efforts and provided solutions to client's service
                                requests.
                            </li>
                            <!-- <li class="sm:ml-0 md:ml-8">Documented API with swagger and markup language.</li> -->
                        </ul>
                    </li>

                    <li class="mt-2">
                        <div class="flex justify-between">
                            <p class="mb-2 font-semibold italic inline ml-3">
                                Analyst
                            </p>
                            <p class="text-sm">
                                Oct 2021 - Nov 2023
                            </p>
                        </div>

                        <ul class="list-disc ml-12">
                            <p class="mt-2 font-bold">As full-stack dev:-</p>
                            <li class="sm:ml-0 md:ml-8">Developed web applications using Angular. Reactive programming
                                with
                                rxjs.</li>
                            <li class="sm:ml-0 md:ml-8">Developed API with .NET 6, AWS Lambda and most recently with
                                NestJS.
                            </li>
                        </ul>

                        <ul class="list-disc ml-12">
                            <p class="mt-2 font-bold">Overview of each project I involed, mostly web applications:-</p>
                            <li class="sm:ml-0 md:ml-8">Led in the development of resource planning web application that
                                involves uploading and
                                downloading Excel files.
                                Users can upload planned resources to the application, where the backend performs
                                extensive
                                data
                                validations and calculations. The authentication process utilizes Azure AD.
                                <span class="font-bold italic">Keywords: Angular 13, .NET 6, Azure AD,
                                    <a class="underline text-blue-700"
                                        href="https://www.npmjs.com/package/@azure/msal-angular">MSAL</a>,
                                    <a class="underline text-blue-700"
                                        href="https://www.npmjs.com/package/xlsx">xlsx</a>
                                    and
                                    <a class="underline text-blue-700"
                                        href="https://developer.mozilla.org/en-US/docs/Web/API/Web_Workers_API/Using_web_workers">Web
                                        workers.</a>
                                </span>
                            <li class="sm:ml-0 md:ml-8">Worked as a frontend developer (Angular) for a web application
                                that
                                summarizes AWS API
                                Gateway usage by usage plans.
                                <span class="font-bold italic">Keywords: Angular 8, AWS Lambda, API Gateway, Usage
                                    plans.</span>
                            </li>
                            <li class="sm:ml-0 md:ml-8">Developed and deployed AWS Lambda function to rotate
                                <a class="underline text-blue-700"
                                    href="https://aws.amazon.com/blogs/security/how-to-rotate-access-keys-for-iam-users/">access
                                    keys</a>
                                based on specific criteria. The processes involved email notification, disabling,
                                generating, and
                                then deleting the
                                access key.
                                <span class="font-bold italic">Keywords: AWS Lambda, IAM and NodeJS.</span>
                            </li>
                        </ul>

                    </li>
                </ul>
            </div>

            <!-- Job2 -->
            <img class="h-7 mt-6" src="/assets/wal-logo.png">
            <div class="flex justify-between">
                <h3 class="text-lg font-bold">WAL Consultant Co., Ltd.</h3>
                <h3 class="text-base">Aug 2018 - May 2021</h3>
            </div>
            <p class="mb-2 font-semibold italic">Cost Engineer</p>

            <ul class="list-disc ml-12">
                <li>Handled works such as pre-qualification, tender administration, pre-tender estimate, tender reports,
                    tender comparison,
                    interview, negotiation, and contract preparation.</li>
                <li>Managed post-contract works including progress claims, variation works, and final account.</li>
                <li>Conducted construction cost estimation for structural, architectural, external, landscape, and
                    interior works.</li>
            </ul>

            <!-- Job1 -->
            <img class="h-6 mt-6" src="/assets/aecom-icon.png">
            <div class="flex justify-between">
                <h3 class="text-lg font-semibold">Aecom Cost Consulting (Thailand) Co., Ltd.</h3>
                <h3 class="text-base">Oct 2017 - Jun 2018</h3>
            </div>
            <p class="mb-2 font-bold italic">Cost Engineer</p>
        </section>

        <hr class="mt-3">

        <section id="education">
            <h2 class="text-xl text-center underline font-bold mt-4 mb-3">Education</h2>
            <ul class="list-disc ml-12">
                <li>M.S. (Computer Science and Information Systems) – NIDA | 2019 – 2023</li>
                <li>B.Eng. (Civil Engineering) – Chulalongkorn University | 2013 – 2017</li>
            </ul>
        </section>
    </div>
</div>